<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="../static/CSS/ClubDataPage/clubs.css">
    <link rel="stylesheet" href="../static/CSS/ClubDataPage/mainSection.css">
</head>
<body>
    <header class="header">
        <div class="nav-bar-top-wrapper">
            <div class="nav-bar-top">
                <div class="nav-bar-top-logo-left">
                    <img src="../static/StaticImages/Vit_logo-removebg-preview.png" alt="VIT Bhopal" class="top-left-img">
                </div>
                <div class="nav-bar-top-right-logo">
                    <img src="../static/StaticImages/Clubs img 1.jpeg" alt="" class="top-right-img">
                    <img src="../static/StaticImages/Clubs image 2.jpeg" alt="" class="top-right-img-2">
                </div>
            </div>
        </div>
        <div class="nav-bar-bottom">
            <div class="nav-bar-bottom-elements">
                <ul class="nav-bar-buttons">
                    <li class="nav-bar-bottom-buttons-name nav-bar-bottom-elements-size">Home</li>
                    <li class="nav-bar-bottom-buttons-name nav-bar-bottom-elements-size">Sports Club</li>
                    <li class="nav-bar-bottom-buttons-name nav-bar-bottom-elements-size">Technical Clubs</li>
                    <li class="nav-bar-bottom-buttons-name nav-bar-bottom-elements-size">Non-Technical Clubs</li>
                    <li class="nav-bar-bottom-buttons-name nav-bar-bottom-elements-size">Regional Clubs</li>
                </ul>
            </div>
        </div>
        <div class="heading-2">
            <ul class="heading-2nd">
                <li class="Clubs-name">Clubs</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main-content-wrapper">
            <div class="stock-prices-large-cap">
                each element in [0,1,2]
                    div.card 
                        p.club-name= clubs[element]
                        div.stock-data-div 
                            p.faculty-name= faculties[element]
                            p.contact-name= contacts[element]
            </div>
            <div class="stock-prices-large-cap">
                each element in [3,4,5]
                    div.card 
                        p.club-name= clubs[element]
                        div.stock-data-div 
                            p.faculty-name= faculties[element]
                            p.contact-name= contacts[element]
            </div>
            <div class="stock-prices-large-cap">
                each element in [6,7,8]
                    div.card 
                        p.club-name= clubs[element]
                        div.stock-data-div 
                            p.faculty-name= faculties[element]
                            p.contact-name= contacts[element]
            </div>
        </div>
    </main>
</body>
</html>